*{
	box-sizing:border-box;
}

h3{
	text-align:center;
}

.header{
	background-image: url("gambar/trolltunga.jpg");
	background-size: block;
	height: 250px;
	padding:20px;
}

.footer{
	background-color: #696969;
	color:white;
	height:200px;
	text-align:center;
}

.navbar {
   	list-style-type: none;
    	margin: 0;
    	padding: 0;
    	overflow: hidden;
   	background-color: #696969;
	position:fixed;
	width:100%;
	top:0;
	left:0;
	right:0;
}

li {
    	float: left;
}

li a {
  	display: block;
  	color: white;
  	text-align: center;
   	padding: 14px 16px;
    	text-decoration: none;
}

li a:hover:not(.active) {
    	background-color: #111;
}

.active{
	background-color: #c0c0c0;
}

.search{
	float:right;
}

.terbaru{
	width:95%;
	margin:auto;
}

.pembahasan{
	overflow:hidden;
}

.isi{
	float:left;
	padding:20px;
}

.article{
	width:33%;
	background-color:white;
	height:760px;
	text-overflow:ellipsis;
	margin:10px;
}

.slide{
	width:64%;
	background-color:white;
	margin:10px;
}

.slide2 {
	float:left;
	margin:10px;
	width: 30%;
}

.slide2 img{
	height:200px;
	width:100%;
}

.penjelasan{
	padding:10px;
	align-text:center;
}

.info{
	float:left;
	width:33%;
}

.info img{
	height:17px;
	width:17px;
}